* {
  margin: 0;
}

body { 
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

button{
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: #FFFFFF;
  outline: none;
  transition: .3s;
}

h2 {
  width: 626px;
  font-size: 35px;
  line-height: 43px;
  margin: auto;
}

/* Header start */

.header {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  background: url("./img/cover.png") center no-repeat;
  background-size: cover;
}

.fullscreen-video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;

}

.fullscreen-video-wrap  video {
 /* min-width: 100%;
 min-height: 100%; */
 width: 100%;
 height: auto;
 position: absolute;
 top: 0;
 left: 0;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.6);
  z-index: 2;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
}

.header-contacts{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 90px;
}
.header-contacts-left {
  padding-top: 60px;
  padding-left: 135px;
}

.header-icon-vk img{
  margin-bottom: 3px;
}
.header-icon-insta{
  margin-left: 20px;
}

.header-contacts-right{
  padding-right: 152px;
  text-align: right;
}

.header-contacts-right p {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  
}

.header-contacts-right button {
  background: transparent;
  border-bottom: 1px dashed #ffffffa6;
  padding: 0;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 17px;
}

.header-contacts-right button:hover{
  cursor: pointer;
  border-bottom: 1px solid #ffffffa6;
}

.header-intro{
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  letter-spacing: 0.06em;
}


.header-text h3 {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.06em;
  font-weight: normal;
}

.whatch-work-but{
  background: #090909;
  padding: 24px 33px 24px 33px;
  font-weight: 600;
  font-size: 18px;
  line-height: 0%;
}

.whatch-work-but:hover{
  cursor: pointer;
  background: #252323;
} 

.mouse-icn{
  margin-bottom: 10px;
}
/* Header end */


/* Experience start */

.experience{
  text-align: center;
}

.experience h2{
  margin-top: 90px;
}

.experience-cards{
  display: flex;
  justify-content: space-around;
  margin-top: 44px;
}

.experience-desc{
  width: 240px;
  margin-bottom: 40px;
}
/* Experience end */

/*  Portfolio start */

.portfolio{
  text-align: center;;
}

.portfolio h2{
  margin-top: 40px;
  margin-bottom: 43px;
}

.portfolio-tabs{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.tabs-tab:not(:last-child){
  margin-right: 44px;
}

.tab-button{
  padding: 13px 45px 13px 45px;
  background:transparent;
  border: 1px solid #E5E5E5;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color:black;
}

.tab-button:hover{
  background: rgba(15, 15, 15, 0.95);;
  color:white;
  cursor: pointer;
}

.portfolio-pic-wrap {
  padding: 55px 130px 55px 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.portfolio-pic{
  width: 330px;
  height: 330px;
  margin-bottom: 50px;
  transition: .3s;
}

.portfolio-pic:hover{
  cursor: zoom-in;
}

.portfolio-pic:active{
  transform: scale(1.5, 1.5);
}
/*  Portfolio end */

/*  Achievements start */

.achievements{
  background:rgba(15, 15, 15, 0.95);
  text-align: center;
  padding-top: 90px;
  padding-bottom: 100px;
}

.achievements h2{
  margin-bottom: 40px;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
}

.diploma-wrap{
  display: flex;
  justify-content: center;
}
.diploma:first-child{
  margin-right: 190px;
}

.diploma-wrap img{
  border: 5px solid white;
}

.diploma-wrap h4{
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color:white;
}

.diploma-wrap p {
  width: 300px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 23px;
  color:white;
}
/*  Achievements end */

/* Price start */

.price{
  padding: 90px 0 105px 0;
  text-align: center;
}

.price h2 {
  margin-bottom: 5px;
}

.price-wrap{
  width: 620px;
  height: 500px;
  margin: 50px auto;
  padding: 45px 120px 45px 120px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(229, 229, 229, 0.5);
}

.wrap-top {
  padding: 0 30px 45px 30px;
  margin-bottom: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);;
}

.wrap-top p{
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.price-button{
  padding: 12px 25px 12px 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background: rgba(15, 15, 15, 0.95);
}

.price-button:hover{
  cursor: pointer;
  background: rgba(77, 65, 65, 0.95);
}
/* Price end */

/* Team start */

.team{
  padding: 100px 0 55px 0;
  background: rgba(15, 15, 15, 0.95);
  text-align: center;
  color: white;
}

.team h2 {
  margin-bottom: 40px;
}

.team-photo-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.team-photo-wrap h4 {
  font-size: 22px;
  line-height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.team-photo-wrap p{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  z-index: 1;
}

.team-photo-wrap button {
  background: transparent; 
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}

.team-photo-wrap button:hover{
  cursor: pointer;
}

.photo-wrap{
  margin: 0 50px 50px 50px;
}

.team-photo{
  position: relative;
  width: 330px;
  height: 300px;
}

.photo{
  position: absolute;
  top: 0;
  left: 0;
  transition: .4;
}

.photo-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 332px;
  height: 300px;
  background: #3E3E3E;
  opacity: .8;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.overlay-text{
  margin-top: 15px;
}

/* Team end */