* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body { 
  width: 100%;
  height: 100%;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  overflow-x: hidden;
  font-size:0.94em;
  line-height:135%;
}


a{
  text-decoration: none;
  color: #FFF;
}

button{
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: #FFFFFF;
  outline: none;
  transition: .3s;
}

h2 {
  max-width: 626px;
  font-size: 35px;
  line-height: 43px;
  margin: auto;
  text-align: center;
}

h5, p, ul, li{
  margin-bottom: 10px;
}

/* Header start */

.header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url("./img/cover.png") center no-repeat;
  background-size: cover;
}

.fullscreen-video-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.fullscreen-video-wrap  video {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.6);
  z-index: 2;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-contacts{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 90px;
  padding: 60px 130px 0 130px;
}

.header-contacts .contacts-icon{
  align-self: flex-start;
}

.icon-vk img{
  margin-bottom: 3px;
}
.icon-insta{
  margin-left: 20px;
}

.header-contacts-right{
  text-align: right;
}

.header-contacts-right p {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  
}

.header-contacts-right a {
  background: transparent;
  border-bottom: 1px dashed #ffffffa6;
  padding: 0;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 17px;
}

.header-contacts-right button:hover{
  cursor: pointer;
  border-bottom: 1px solid #ffffffa6;
}

.header-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  flex: 1 1 70%;
  padding-bottom: 10px;
}


h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  letter-spacing: 0.06em;
}

.header-text h3 {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.06em;
  font-weight: normal;
}

.whatch-work-but{
  background: #090909;
  padding: 24px 33px 24px 33px;
  font-size: 18px;
  line-height: 0%;
  align-self:center;
}

.whatch-work-but:hover{
  cursor: pointer;
  background: #252323;
} 

.mouse-icn img{
  animation: move .9s infinite linear;  
}

/* Header end */



/* Experience start */

.experience{
  text-align: center;
  padding:10%; 
}
.experience-card {
  width: 240px;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.experience-cards{
  display: flex;
  justify-content: space-around;
  margin-top: 44px;
}

.experience-card{
  width: 240px;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.experience-pic{
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content:center;
  align-items: flex-endS;
}



/* Experience end */

/*  Portfolio start */

.portfolio{
  padding: 0 10% 7% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio h2{
  margin-bottom: 43px;
}

.tabs{
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  justify-content: space-evenly;
}



button{
  padding: 13px 45px 13px 45px;
  background:transparent;
  border: 1px solid #E5E5E5;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color:black;
  white-space: nowrap;
}

button.active-tab{
  background:rgba(15, 15, 15, 0.95);
  border: 1px solid rgba(15, 15, 15, 0.95);
  color:white;
  
}

button:hover{
  background: rgba(15, 15, 15, 0.95);
  color:white;
  cursor: pointer;
}

.portfolio-pic-wrap {
  max-width: 1100px;
  max-height: 760px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  overflow: auto;
}

.portfolio-pic-wrap.active-tab {
  display: flex;
}

.portfolio-pic-wrap::-webkit-scrollbar,
.profile-pic-wrapper::-webkit-scrollbar,
.team-profile::-webkit-scrollbar{
  width: 5px;
}

.portfolio-pic-wrap::-webkit-scrollbar-thumb,
.profile-pic-wrapper::-webkit-scrollbar-thumb,
.team-profile::-webkit-scrollbar-thumb{
  background: rgba(15, 15, 15, 0.8);
  border-radius: 2px;
}

.portfolio-pic{
  width: 330px;
  height: 330px;
  margin-bottom: 50px;
  transition: .3s;
}

.portfolio-pic:hover{
  cursor: zoom-in;
}

/*  Portfolio end */

/*  Achievements start */

.achievements{
  background:rgba(15, 15, 15, 0.95);
  text-align: center;
  padding: 7% 10% 3% 10%;
}

.achievements h2{
  color: #FFFFFF;
}

.diploma-wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.diploma{
  margin: 7% 10%;
}

.diploma-wrap img{
  border: 5px solid white;
}

.diploma-wrap h4{
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color:white;
}

.diploma-wrap p {
  width: 300px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 23px;
  color:white;
}
/*  Achievements end */

/* Price start */

.price{
  padding: 7% 0;
  text-align: center;
}

.price h2 {
  margin-bottom: 5px;
}

.price-wrap{
  max-width: 620px;
  min-height: 500px;
  margin: 50px auto;
  padding: 45px 0 45px 0;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(229, 229, 229, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-top {
  max-width: 380px;
  padding: 0 30px 45px 30px;
  margin-bottom: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.wrap-top p{
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.wrap-low{
  max-width: 380px;
}
.wrap-low h4{
  margin-bottom: 15px;
}

.wrap-low p:last-child{
  font-size: 12px;
}

.price-button{
  padding: 12px 25px 12px 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background: rgba(15, 15, 15, 0.95);
}

.price-button:hover{
  cursor: pointer;
  background: rgba(77, 65, 65, 0.95);
}
/* Price end */

/* Team start */

.team{
  padding: 7% 0;
  background: rgba(15, 15, 15, 0.95);
  text-align: center;
  color: white;
}

.team h2 {
  margin-bottom: 40px;
}

.team-photo-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.team-photo-wrap h4 {
  font-size: 22px;
  line-height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.team-photo-wrap p{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  z-index: 1;
}

.team-photo-wrap button {
  background: transparent;
  border:none;
  color:white; 
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-decoration-line: underline;
}

.team-photo-wrap button:hover{
  cursor: pointer;
}

.photo-wrap{
  margin: 0 50px 50px 50px;
}

.team-photo{
  position: relative;
  width: 332px;
  height: 300px;
}


.photo-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(62, 62, 62, 0.8);
  display: flex;
  flex-direction: column;
  justify-content:center;
  opacity: 0;
  transition: all .2s;
}

.overlay-text{
  margin-top: 15px;
  align-self: center;
}

.team-photo:hover .photo-overlay{
  cursor: pointer;
  opacity: 1;
}

.click-to-profile{
  padding: 0;
}
/* Team end */

/* materials-used start */

.materials-used{
  padding: 5% 10% 5% 10%;
}

.materials-used h2 {
  max-width: 530px;
  text-align: center;
  margin-bottom: 40px;
}

.materials-used-wrap{
  display: flex;
  justify-content: center;
}


.paints{
  display: flex;
}

.materials-used-desc:last-child{
  align-self: flex-end;
}

.materials-used-desc{
  max-width: 390px;
}

.materials-used-desc p{
  margin: 10px 0 10px 0;
}

.materials-used-desc ul{
  list-style-type: none;
  padding: 0;
}

.materials-used-desc li{
  margin-bottom: 10px;
}

.materials-used-desc li:before{
  content: "-";
  margin-right: 2px;
}

.materials-used-desc img{
  margin-bottom: 15px;
}

/* materials-used end */



/* tattoo care start */

.tattoo-care{
  padding:0 10% 0 10%;
}
.tattoo-care h2{
  margin-bottom: 60px;
}

.tattoo-care ul{
  justify-content: center;
}

.tattoo-care ul li{
  justify-content: center;
  margin: 10px;
}

.tattoo-healing{
  text-align: center;
  margin-top: 45px;
  display: none;
  flex-direction: column;
}

.tattoo-healing>p{
  max-width: 580px;
  margin: 5px auto;
  margin-bottom: 50px;
}

.healing-tutorial{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.healing-tutorial h4{
  font-size: 18px;
}

.healing-tutorial h5{
  font-size: 16px;
}

.tutorial-row{
  display: flex;
  justify-content: center;
}

.tutorial-guid{
  max-width: 500px;
  width: 45%;
  padding-bottom: 90px;
  flex-shrink: 1;
}

.tutorial-img{
  max-width: 500px;
  width: 45%;
  flex-shrink: 1;
  padding-bottom: 90px;
  text-align: end;
}

.tutorial-img img{
  max-width: 100%;
  height: auto;
}

.tutorial-guid h4{
  list-style-type: none;
  margin-bottom: 15px;
} 

.guid-title{
  display: inline-block;
  padding: 13px 30px 13px 30px;
  color:white;
  background: rgba(15, 15, 15, 0.95);
}

.guid-title:first-child{
  padding: 13px 15px 13px 15px;
}

.tutorial-guid ul{
  padding: 0;
}

.tutorial-guid li::before{
  content:"-";
  margin-right: 5px;
} 

.number-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 60px 0 60px;
  width: 10%;
}

.number-wrap span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  font-size: 22px;
  color:white;
  background: rgba(15, 15, 15, 0.95);
}

.number-line{
  width: 2px;
  height: 100%;
  align-self:center;
  background: rgba(15, 15, 15, 0.95)
}


.tattoo-meaning{
  margin-bottom: 7%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.text-meaning-left {
  max-width: 530px;
  width: 100%;
  height: auto;
  padding: 2%;
}

.text-meaning-left h4{
  margin-bottom: 15px;
}

.quotes-meaning-left{
  text-align: center;
  padding: 5% 7%;
  max-width: 530px;
  min-height: 235px;
  height: auto;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(229, 229, 229, 0.5);
}

.quotes-meaning-left img {
  margin-bottom: 15px;
}

.meaning-rigth{
  padding: 2%;
}

.meaning-rigth img{
  width: 100%;
  height: auto;
}
.wrapTattooCare.active-tab{
  display:flex;
}
/* tattoo care end */


/* consultation form start */

.consultation{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 0 10% 7% 10%;
}

.consultation h2{
  margin-bottom: 10px;
}

.consultation p{
  margin-bottom: 50px;
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 484px;
}

.placeinput{
  position: relative;
  overflow: hidden;
}

.place-holder{
  position: absolute;
  left: 21px;
  top: 19px;
  cursor: text;   
  width: 20%;   
  display: none;
  color: #D3D3D3;
  z-index: 5;
}

.consultation-input:invalid + .place-holder {
  display: inline;
}

.consultation-input{
  width: 100%;
  height: 58px;
  margin-bottom: 20px;
  padding-left: 20px;
  background: rgba(229, 229, 229, 0.6);
  border: 1px solid hsla(0, 0%, 90%, 0.8);
  box-sizing: border-box;
  font-size: 18px;
}

.consultation-input::placeholder{
  color: #D3D3D3;
}

.red-star{
  color:red;
}

.form>span {
  margin-bottom: 15px;
}

.confident-checkbox{
  display: none;
}

.fake-box{
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px; 
  background: #FFFFFF;
  border: 1px solid #000000;
  vertical-align: top;
}

.fake-box::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background: #000;
  opacity: 0;
  transition: .2s;
}

.fake-box:hover{
  cursor: pointer;
}
.confident-checkbox:checked + .fake-box::before{
  opacity: 1;
}

.confident-form a{
  color: black;
  text-decoration: underline;
}

.form button {
  margin-top: 50px;
  align-self: center;
  width: 230px;
  font-size: 16px;
  color:white;
}

/* consultation form end */

/* map start */

.map{
  position: relative;
  height: 500px;
}

iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:0px;
  z-index: 1;
}

.map-contactns{
  position: absolute;
  left: 5%;
  top: 25%;
  background: #fff;
  z-index: 3;
  width: 424px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.map-contactns span {
  vertical-align: super;
  margin-left: 15px;
}

.map-contactns li:last-child{
  margin-bottom: 0;
}


/* map end  */





/* Other start */

.arrow-top{
  width: 60px;
  height: 60px;
  background: rgba(15, 15, 15, 0.8);
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  transition: 1s;
}

.modal{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background:rgba(0, 0, 0, 0.8);
  animation: zoomIn .2s ease-in;
}
.modal-win{
  z-index: 15;
}
.modal-profile{
  z-index: 10;
}

.selected-profile{
  display: flex;
}

.modal-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}
.close-img{
  position: absolute;
  top:0;
  right: 0;
  align-self: flex-end;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.close-img:hover, .close-profile:hover{
  cursor: pointer;
}

#modal-img{
  max-width: 600px;
  max-height: 600px;
  width: 100%;
}



.team-profile{
  position: relative;
  flex: 0 1 700px;
  height: 95%;
  padding: 20px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.close-profile{
  position: absolute;
  top: 10px;;
  right: 10px;
  width: 20px;
}


.profile-desc{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}


.profile-ava{
  max-width: 200px;
  width: 100%;
  height: auto;
  margin: 0 20px;
}

.profile-text{
  display: flex;
  flex-direction: column;
}
.profile-text span{
  margin-bottom: 10px;
}

.profile-text h3{
  font-size: 25px;
  margin-bottom: 10px;
}


.profile-pic {
  max-width: 200px;
  max-height: 200px;
  margin: 12px;
}

.profile-pic-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

/* Other end */

.footer{
  width: 100%;
  min-height: 150px;
  padding: 5%;
  background: rgba(15, 15, 15, 0.95);
  color:white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15px;
  box-sizing: border-box;
}


.footer a{
  text-decoration-line: underline;
}
.footer>*{
  padding: 5px  ;
}



@keyframes move{
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}


@keyframes zoomIn{

   0% {
    transform: scale(0.1);
    width: 50%;
    top:25%;
    left:25%;
  }
  100% {
    transform: scale(1);
    width: 100%;
    top:0;
    left:0;
  }
}



@media screen and (max-width: 992px) {
  /* materials used */

  .materials-used-desc:last-child {
    align-self: flex-start;
  } 
  
  .materials-used-img{
    display: none;
  }
  /* materials used */
  
  /* tattoo care */

  .number-wrap{
    display: none;
  }
  /* tattoo care */
  
  /* map */
  .map-contactns{
    width: 320px;
    height: 200px;  
  }
  /* map */


  /* footer  */
  .footer div:nth-child(4){
    order: 1;
  }
  /* footer  */
}


@media screen and (max-width: 768px) {
 
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 25px;
  }

  /* header */
  .fullscreen-video-wrap{
    display: none;
  }

  .header-text h3 {
    font-size: 16px;
  }

  .header-contacts{
    display: none;
  }

  .header-intro{
    justify-content: space-evenly;
  }
  /* header */


  /* experience */
  .experience-cards {
    flex-direction: column;
    align-items: center;
  }
  .experience-card {
    width: 100%;
    text-align: left;
    height: auto;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .experience-pic{
    width: 30%;
  }
  /* experience */
  

  /* portfolio */
 
  .portfolio ul li button{
    padding: 10px 15px;
    font-size: 12px;
  }
  
   /* portfolio */


   /* materials used */
  .materials-used-wrap{
    flex-wrap: wrap;
  }

  .equipment{
    margin-bottom: 7%;
  }
   /* materials used */

   /* tattoo care */
   .tutorial-img{
    display: none;
   }

   .tutorial-guid {
    max-width: 500px;
    width: 100%;
    padding-bottom: 5%;
   }
   .text-meaning-left, .text-meaning-rigth img{
    width: 100%;
   }
  
   /* tattoo care */


  /* map */
  .map{
    height: auto;
  }
  iframe{
    position: static;
  }
  .map-contactns{
    position: static;
    width: 100%;  
  }
  /* map */

}

@media screen and (max-width: 505px){
  .profile-pic-wrapper, .profile-desc, .profile-text{
    justify-content: center;
  }
  .profile-text{
    width: 200px;
  }
}

@media screen and (max-width: 480px){

  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  
  /* header */
  .header{
    height: 450px;
  }
  .whatch-work-but, .mouse-icn img{
    display: none;
  }
  /* header */

  /* experience */
  .experience{
    padding: 5%;
  }
  /* experience */

  /* poetfolio */

  .portfolio {
    padding: 5%;
  }
  .portfolio h2 {
    margin-bottom: 20px;
  }

  .portfolio ul li button{
    padding:10px;
    font-size: 12px;
  }

  .portfolio-pic-wrap {
    max-height: 330px;
  }
 
  /* poetfolio */

  /* price */
  .price-button{
    padding: 10px 15px;
    font-size: 14px;
  }
  /* price */
  
  /* tatto care */
  .tattoo-care h2{
    margin-bottom: 20px;
  }
  .care-tab{
    padding: 10px 15px;
  }
   /* tatto care */

  /* footer */
  .footer{
    flex-direction: column;
    align-items: center;
  }
  /* footer */

   .arrow-top{
     width: 30px;
     height: 30px;
   }

   

}